''' Tentang Rekening Bank'''
# tambahkan import waktu biar seru
# kalau bisa password ubah menjadi (*) 
# next project diatas
import sys

class RekeningBank:
    def __init__(self,jumlah_saldo,selamat_datang,password = 225060 ) -> None:
        self.jumlah_saldo = jumlah_saldo
        self.password = password
        self.selamat_datang = selamat_datang
      

    def set_login(self,login = '',kesempatan = 3):
         self.kesempatan = kesempatan
         self.login = login

         while self.kesempatan > 0:
             self.login = int(input(" Masukkan password : "))
             if self.login != self.password:
              self.kesempatan -= 1
              print("sandi salah")

              if self.kesempatan == 0:
                 print(" kartu anda terblokir ")
                 exit()

             elif self.login == self.password:
                 print("sandi benar")
                 break
             else : None 
             
    def pilihnum(self,pilih = ' ',num1 = 100_000,num2 = '300_000',num3 = '500_000',num4 = '1000_000',num5 = '1_500_000'):
        self.pilih = pilih
        self.pilih = input(" Pilih Nominal : ")
        self.num1 = num1
        self.num2 = num2
        self.num3 = num3
        self.num4 = num4
        self.num5 = num5

        match self.pilih :
            case '1' : 
               self.pilih = 100000
            case '2' :
                 self.pilih = 300000
            case '3' :
                self.pilih = 500_000
            case '4' :
                 self.pilih = 1_000_000
            case '5' :
                self.pilih = 1_500_000


    def menabung_saldo(self,saldo_terbaru = '',tabung_saldo = '',tekan = '',chance = 1):
        self.saldo_update = saldo_terbaru
        self.menabung = tabung_saldo
        self.chance = chance
        self.tekan = tekan
        self.tekan = input(" ketik   buat menabung : ")
        no = 1
        match self.tekan :
            case 'yes':
              self.menabung = input(" Masukkan Nominal yang akan di tabung : ")
              self.saldo_update =  int(self.menabung) + int(self.jumlah_saldo)
              print(f"jumlah saldo  awal {self.jumlah_saldo} berhasil ditambahkan,saldo anda sekarang sebesar {self.saldo_update} \n")
            case "no" :
             print(f" jumlah saldo masih sama,sebesar {self.jumlah_saldo}")
             
    def menarik_saldo(self ,ambil_saldo = '',chance1 = 2 ):
       
        self.chance = chance1
        self.ambil_saldo = ambil_saldo
        while self.chance > 0:
         self.ambil_saldo = input(" tekan yes jika ambil uang : ")
         self.chance -= 1
         match self.ambil_saldo:
          case 'yes':
            self.ambil_saldo = {(self.saldo_update or self.jumlah_saldo) - self.pilih}
            
            self.chance -= 1
          case 'no' :
               print(" exit ")
               exit()
               break

    def mencetak_saldo(self,tarik_saldo = ''):
        self.tarik_saldo = tarik_saldo
        self.ambil_saldo = str(self.ambil_saldo)
        self.tarik_saldo = str(self.ambil_saldo)

        if self.tarik_saldo != 50_000:
           print(" saldo anda cukup ")
        elif self.tarik_saldo == 50_000:
           print(" saldo anda tidak cukup")
        else : None

        print(f"saldo yang anda sekarang {self.ambil_saldo}")


rek1 = RekeningBank(1_000_000,"Selamat datang ",225060)
print(f" ------------ {rek1.selamat_datang} -------- ")
print(" ----------- Masukkan password ----------- \n")
rek1.set_login() 
print("\n") 
print(" -------- Pilih Nominal -------- \n ")
print(" 1. 100.000 \n 2. 300.000 \n 3. 500.000 \n 4. 1000.000 \n 5. 1.500.000")
rek1.pilihnum()
print ("------- ketik yes untuk menabung dan no untuk tidak --------- \n  ")

rek1.menabung_saldo()
print("\n")
rek1.menarik_saldo()
rek1.mencetak_saldo()



